/* BookARoom.css */

.booking-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #000000; /* Pitch black text color */
}

.room {
  border: 1px solid #020000;
  padding: 20px;
  margin-bottom: 20px;
  color: #000000; /* Pitch black text color */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #060000; /* White text color for better contrast */
}

.popup-content {
  background: #ffffff;
  padding: 20px;
}

.popup button {
  margin-top: 10px;
}
