/* Register.css */

/* Container styling */
.registerWrapper {
    background-image: url('C:\Users\User\Desktop\sta mpeta\staycation\staycation-frontend\TAL-bora-bora-BTFLISLANDS0623-31533656ca504fe79844d1723b28863d.jpg'); /* Set the background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Form styling */
  .registerForm {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling */
  .registerForm h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  /* Input styling */
  .registerForm input[type="text"],
  .registerForm input[type="email"],
  .registerForm input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styling */
  .registerForm button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registerForm button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Error message styling */
  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  