/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Set height to fill the entire viewport */
}

.search-bar {
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width to prevent it from stretching too much */
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.search-bar-input {
  flex: 1; /* Take up remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
